<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Query from a web page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1> Search an info in a web page</h1>
        <label for="url">Url:</label>
        <input type="url" id="url" placeholder="https://example.com" required pattern="https?://.+" title="Inserisci un URL valido, ad esempio https://example.com"> <br>
        
        <label for="depth">Depth:</label>
        <input type="number" id="depth" placeholder="1" min="1" required> <br>
        
        <label for="query">What to search:</label>
        <input type="text" id="query" placeholder="info to search" required minlength="3" maxlength="50"> <br>
        
            <button onclick="execute()">Search</button>
        
        <h2 id="loading" style="display: none;"></div>
        
        <h2 id="result_title"></h2>
        <p id="result">
        </p>
        <script>
            // al click del pulsante vengono inviati url e query al server con una post. 
            // il server risponde con un json contenente un campo result con la risposta
            function execute() {

                const url = $("#url").val();
                const depth = $("#depth").val()
                const query = $("#query").val();
                
                let errorMessage = "";
                // controllo url
                if (!/^https?:\/\/.+/i.test(url)) {
                    errorMessage += "Please enter a valid URL (e.g., https://example.com).\n";
                }
                
                // Controllo Depth
                if (isNaN(depth) || depth < 1) {
                    errorMessage += "Please enter a valid numeric value for depth (>= 1).\n";
                }
                
                // Controllo Query
                if (query.length < 3 || query.length > 50) {
                    errorMessage += "The search query must be between 3 and 50 characters long.\n";
                }
                
                // Se ci sono errori, mostrarli
                if (errorMessage) {
                    alert(errorMessage);
                    return; // Interrompe l'esecuzione
                }

                // mostra la rotellina che gira
                $("#loading").show();
                // ajax serve per inviare dati al server
                $.ajax({
                    // url a cui inviare la post
                    url: "/search",
                    type: "POST",
                    // i dati vengono inviati in formato json
                    contentType: "application/json",
                    data: JSON.stringify({ url: url, depth: depth, query: query }),
                    success: function(response) {
                        // ciò che viene eseguito in caso di successo
                        $("#result").text(response.result);
                    },
                    error: function() {
                        // ciò che viene eseguito in caso di errore
                        $("#result").text("Error during the search execution");
                    },
                    complete: function() {
                        // Nasconde la rotellina che gira
                        $("#loading").hide();
                    }
                });
            }
        </script>
    </body>
</html>