<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Query from a web page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1> Search an info in a web page</h1>
            <label for="url">Url:</label>
            <input type="text" id="url" placeholder="https/example.com" required> <br>
            
            <label for="depth">Depth:</label>
            <input type="text" id="depth" placeholder="0" required> <br>
            
            <label for="query">What to search:</label>
            <input type="text" id="query" placeholder="info to search" required> <br>
            
            <button onclick="execute()">Search</button>
        <h2 id="result_title">
           
        </h2>
        <p id="result">
        </p>
        <script>
            // al click del pulsante vengono inviati url e query al server con una post. 
            // il server risponde con un json contenente un campo result con la risposta
            function execute() {

                const url = $("#url").val();
                const depth = $("#depth").val()
                const query = $("#query").val();
                // ajax serve per inviare dati al server
                $.ajax({
                    // url a cui inviare la post
                    url: "/search",
                    type: "POST",
                    // i dati vengono inviati in formato json
                    contentType: "application/json",
                    data: JSON.stringify({ url: url, depth: depth, query: query }),
                    success: function(response) {
                        // ciò che viene eseguito in caso di successo
                        $("#result").text(response.result);
                    },
                    error: function() {
                        // ciò che viene eseguito in caso di errore
                        $("#result").text("Error during the search execution");
                    }
                });
            }
        </script>
    </body>
</html>