<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Query from a web page</title>
    </head>
    <body>
        <h1> Search an info in a web page</h1>
        <label for="url">Url:</label>
        <input type="text" id="url" placeholder="https/example.com" required> <br>
        <label for="url">What to search:</label>
        <input type="text" id="query" placeholder="info to search" required> <br>
        
        <button onclick="execute()">Search</button>
        <h2>
            Result
        </h2>
        <p id="result">
        </p>
        <script>
            function execute(){
                var url=document.getElementById("url").value
                var query=document.getElementById("query").value
            }
            $.ajax({
                url: "/scrape",
                type:"POST",
                contentType:"application/json",
                data: JSON.stringify({"url":url,"query":query}),
                success: function(response){
                    document.getElementById("result").innerText(response.result)
                },
                error: function(){
                    document.getElementById("result").innerText("error during the request processing")
                }
            })
        </script>
    </body>
</html>